<div class="relative flex flex-col text-left" id='advisorDropdown'>
  <div id='advisorDropdownMenu' class="w-44 origin-top absolute transform -translate-y-full rounded-md shadow-lg bg-gray-600 ring-1 ring-black ring-opacity-5 focus:outline-none hidden" role="menu" aria-orientation="vertical" aria-labelledby="advisorDropdownBtn" aria-hidden='true'>
    <div class="py-1" role='menu'>
      {{#each advisors as |advisor|}}
        <a href="/advisor/{{advisor.value}}" class='block px-4 py-2 text-xs text-white hover:bg-gray-500' role="menuitem" tabindex="-1" id="menuItem{{advisor.value}}">{{advisor.name}}
        </a>
      {{/each}}
    </div>
  </div>
  <button type="button" class="origin-top relative flex flex-row z-10 bg-gray-700 text-white rounded-md px-3 py-2 m-2 text-sm font-medium hover:bg-gray-600 shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" id="advisorDropdownBtn" aria-expanded='false' aria-haspopup="true" onclick="toggleDropdown()">
    <div class='flip-container'><!-- Heroicon name: solid/chevron-down -->
      <svg class="mr-2 h-5 w-5 mt-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" id='chevronDown'>
        <path fill-rule="evenodd" d="M5.293 7.707a1 1 0 0 1 0-1.414l4-4a1 1 0 0 1 1.414 0l4 4a1 1 0 0 1-1.414 1.414L10 5.414l-3.293 3.293a1 1 0 0 1-1.414 0z" clip-rule="evenodd" />
      </svg>
    </div>
    Request Review
  </button>
</div>