<header class="flex-row justify-center">
<nav class="bg-gray-800">
  <div class="px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-full">
      <div class="flex w-full sm:items-stretch sm:justify-start">
        <div class="hidden flex w-full sm:block">
          <div class="flex space-x-4 items-center justify-between">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a href="/">
              <h1 class='text-white px-3 py-3 text-5xl font-medium text-center'>My Career!</h1>
            </a>
            <!-- Conditionally render login or logout links -->
            
            <div class='flex justify-end md:justify-center'>
              {{#if loggedIn}}
              <label class='text-white self-center px-4' style='padding-top:1px'>{{> userName}}</label>
              
              <button class="no-button text-white rounded-md px-3 py-2 text-sm font-medium hover:no-underline hover:text-white 
                hover:bg-gray-600" id="logoutBtn">Logout</button>
              {{else}}
              <a href="/login">
                <button class="no-button bg-gray-700 text-white rounded-md px-3 py-2 my-2 text-sm font-medium hover:no-underline hover:text-white 
                hover:bg-gray-600" id="loginBtn">Login</button>
              </a>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="sm:hidden flex justify-center" id="mobile-menu">
    <div class="space-y-1 px-2 pt-2 pb-3 flex flex-col items-center">
      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
      <a href="/">
        <h1 class='text-white px-3 py-2 text-3xl font-medium'>My Career!</h1>
      </a>
      <!-- Conditionally render login or logout links -->
      {{#if loggedIn}}
        <button class="no-button text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium" id="logout">Logout</button>
      {{else}}
      <a href="/login">
        <button class="no-button hover:bg-gray-700 text-gray-300 hover:text-white block rounded-md px-3 py-2 text-base font-medium hover:no-underline hover:text-white hover:bg-gray-600" id="login">Login</button>
      </a>
      {{/if}}
    </div>
  </div>
</nav>
</header>