<div class="modal fixed w-full h-full top-0 left-0 flex items-center justify-center hidden" id="modal">
  <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>
  
  <div class="modal-content bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">
    <div class="modal-header py-3 px-6">
      <h2 class="text-2xl font-bold">Alert</h2>
      <button class="modal-close absolute top-0 right-0 z-10" id="modal-close">×</button>
    </div>
    <div class="modal-body py-4 px-6">
      <p class='modal-message'>Invalid Credentials</p>
    </div>
    <div class="modal-footer py-3 px-6">
      <button class="bg-gray-400 text-white font-bold py-2 px-4 rounded" id="modal-cancel">Ok</button>
    </div>
  </div>
</div>