<ul class="list-none h-48 whitespace-nowrap overflow-y-auto hover:scroll-auto">
  <li class="py-2">
    Item 1
  </li>
  <li class="py-2">
    Item 2
  </li>
  <li class="py-2">
    Item 3
  </li>
  <li class="py-2">
    Item 4
  </li>
  <li class="py-2">
    Item 5
  </li>
  <li class="py-2">
    Item 6
  </li>
  <li class="py-2">
    Item 7
  </li>
  <li class="py-2">
    Item 8
  </li>
  <li class="py-2">
    Item 9
  </li>
  <li class="py-2">
    Item 10
  </li>
</ul>
