{{#if loggedIn}}
  <div>
    <div class="col-md-6">
      <h2>Goals</h2>
      {{> userGoals}}
    </div>
  </div>

{{else}}

  <div>
    <div class="col-md-6">
      <h2>Login</h2>
      {{|login|}}
    </div>
  </div>

{{/if}}