
{{#unless uData.advisor}}
  <div class='flex-col w-5/6'>
    {{> userContent}}
    {{> createGoal}}
  </div>
{{/unless}}

{{#if uData.advisor}}
  <div class='flex-col w-5/6'>
    <h2 class='text-black grid justify-center text-xl pb-5'>Click on a Goal to Review!!</h2>
    {{> userContent}}
  </div>
{{/if}}

