header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

::-webkit-scrollbar {
  display: none;
}

.modal {
  transition: opacity 0.25s ease;
}

.modal-overlay {
  transition: opacity 0.25s ease;
}

.modal.active {
  opacity: 1;
  pointer-events: auto;
}

.modal-overlay.active {
  opacity: 1;
}

.modal-close {
  cursor: pointer;
}

.modal-content {
  transition: all 0.3s ease-out;
  transform: translateY(-100px);
  opacity: 0;
}

.modal.active .modal-content {
  transform: translateY(0px);
  opacity: 1;
}


